PORT=8000
MONGODB_URL=mongodb+srv://intervio:intervio@intervio1.qveap0x.mongodb.net/?appName=Intervio1
JWT_SECRET="DSY29QURD12R23TFNO1FFFTY13"
OPENROUTER_API_KEY=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
RAZORPAY_KEY_ID=rzp_test_SXWr63oPzsjYKj
RAZORPAY_KEY_SECRET=287QL3i7FWGNbiAMropKfHHe
